<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<%= form_tag(orders_path, method: :get) do %>
  <fieldset>
    <legend>Search Form</legend>
    
    <div>
      <%= label_tag 'Name:' %>
      <%= text_field_tag "search[name_like]" %>
    </div>
    
    <div>
      <%= label_tag 'Address:' %>
      <%= text_field_tag "search[address_like]" %>
    </div>

    <div>
      <%= label_tag 'Minimum Total Price:' %>
      <%= text_field_tag "search[minimum_total_price]" %>
    </div>

    <div>
      <%= label_tag 'Maximum Total Price:' %>
      <%= text_field_tag "search[maximum_total_price]" %>
    </div>
    
    <div>
      <%= submit_tag "Search" %>
    </div>
  </fieldset>
<% end %>

<table>
  <tr>
    <td>Name</td>
    <td>Address</td>
    <td>Email</td>
    <td>Sub Total</td>
    <td>Discount</td>
    <td>Total Price</td>
    <td>Actions</td>
  </tr>
  <% @orders.each do |order| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><%= order.name %></td>
      <td><%= order.address %></td>
      <td><%= order.email %></td>
      <td><%= order.sub_total_price %></td>
      <td><%= order.discount %></td>
      <td><%= order.total_price %></td>
      <td class="list_actions">
        <%= link_to 'Show', order %> &nbsp;
        <%= link_to 'Edit', edit_order_path(order) %> &nbsp;
        <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Order', new_order_path %>
